### Dataset : 'Change 2022 Creative Data writeback_091122.xlxs'

Data cleaning process for 'Change 2022 Creative Data writeback_091122.xlsx' dataset. 

Excel cleaning: A new column 'Spend_new' with 'number' format  was created containing the 'Spend' column  data but converted to number format as some of the cells has a date-time value instead.

## Import and Explore the data

## Prepare the workstation

In [1]:
# Import the necessary libraries and packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Set the figure size.
sns.set(rc={'figure.figsize':(12, 8)})

# Set the plot style as white.
sns.set_style('white')

#### Load the dataset and sense-check 
  *(Ensure dataset is in current working directory)*

In [3]:
# Load the dataset 
df_creative = pd.read_excel('Change 2022 Creative Data writeback_091122_altered.xlsx')

# View the dataframe
df_creative.head()

,Requested URL Path,Campaign,Ad Format,Clicks,Spend,Creative - Size,Date,Impressions,Reach,Audience,...,Creative - Version,100% Video Views,Video Starts,Follows,Days away from max date,Latest report?,CTR,CTR Score,Weighted CTR Score,Spend_new
0,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.26,NaN,2022-05-19,119,63.0,1,...,NoDTI,NaN,NaN,NaN,165,0,0.000000,NaN,NaN,0.26
1,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.15,NaN,2022-05-19,9,8.0,1,...,NoDTI,NaN,NaN,NaN,165,0,0.000000,NaN,NaN,0.15
2,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.38,NaN,2022-05-19,26,17.0,1,...,NoDTI,NaN,NaN,NaN,165,0,0.000000,NaN,NaN,0.38
3,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.19,NaN,2022-05-19,12,10.0,1,...,NoDTI,NaN,NaN,NaN,165,0,0.000000,NaN,NaN,0.19
4,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,1.0,3.62,NaN,2022-05-19,247,150.0,1,...,EarlyBird,NaN,NaN,NaN,165,0,0.004049,NaN,NaN,3.62

In [4]:
# Sense check the data sets to determine shape, data types and column names
print('Shape of dataset:\n',df_creative.shape)
print('\nDatatypes:\n',df_creative.dtypes)
print('\nColumns : \n',df_creative.columns)

Shape of dataset:
 (102068, 22)

Datatypes:
 Requested URL Path                 object
Campaign                           object
Ad Format                          object
Clicks                            float64
Spend                              object
Creative - Size                    object
Date                       datetime64[ns]
Impressions                         int64
Reach                             float64
Audience                           object
Platform                           object
Creative - Family                  object
Creative - Version                 object
100% Video Views                  float64
Video Starts                      float64
Follows                           float64
Days away from max date             int64
Latest report?                      int64
CTR                               float64
CTR Score                         float64
Weighted CTR Score                float64
Spend_new                          object
dtype: object

Columns :
 Index(['Requested URL Path', 'Campaign', 'Ad Format', 'Clicks', 'Spend',
       'Creative - Size', 'Date', 'Impressions', 'Reach', 'Audience',
       'Platform', 'Creative - Family', 'Creative - Version',
       '100% Video Views', 'Video Starts', 'Follows',
       'Days away from max date', 'Latest report?', 'CTR', 'CTR Score',
       'Weighted CTR Score', 'Spend_new'],
      dtype='object')

In [5]:
# Determine the metadata of the data set.
# This gives us information about the columns in the dataframe and their datatypes.
df_creative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102068 entries, 0 to 102067
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Requested URL Path       14205 non-null   object
 1   Campaign                 101996 non-null  object
 2   Ad Format                101997 non-null  object
 3   Clicks                   90191 non-null   float64
 4   Spend                    102068 non-null  object
 5   Creative - Size          73485 non-null   object
 6   Date                     102068 non-null  datetime64[ns]
 7   Impressions              102068 non-null  int64
 8   Reach                    80824 non-null   float64
 9   Audience                 102027 non-null  object
 10  Platform                 102068 non-null  object
 11  Creative - Family        101185 non-null  object
 12  Creative - Version       101543 non-null  object
 13  100% Video Views         24447 non-null   float64
 14  Video Starts             25460 non-null   float64
 15  Follows                  8400 non-null    float64
 16  Days away from max date  102068 non-null  int64
 17  Latest report?           102068 non-null  int64
 18  CTR                      89239 non-null   float64
 19  CTR Score                75018 non-null   float64
 20  Weighted CTR Score       75018 non-null   float64
 21  Spend_new                102068 non-null  object
dtypes: datetime64[ns](1), float64(8), int64(3), object(10)
memory usage: 17.1+ MB

In [6]:
# Make a copy of the dataframe before cleaning
df = df_creative.copy()
df.head()

,Requested URL Path,Campaign,Ad Format,Clicks,Spend,Creative - Size,Date,Impressions,Reach,Audience,...,Creative - Version,100% Video Views,Video Starts,Follows,Days away from max date,Latest report?,CTR,CTR Score,Weighted CTR Score,Spend_new
0,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.26,NaN,2022-05-19,119,63.0,1,...,NoDTI,NaN,NaN,NaN,165,0,0.000000,NaN,NaN,0.26
1,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.15,NaN,2022-05-19,9,8.0,1,...,NoDTI,NaN,NaN,NaN,165,0,0.000000,NaN,NaN,0.15
2,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.38,NaN,2022-05-19,26,17.0,1,...,NoDTI,NaN,NaN,NaN,165,0,0.000000,NaN,NaN,0.38
3,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,0.0,0.19,NaN,2022-05-19,12,10.0,1,...,NoDTI,NaN,NaN,NaN,165,0,0.000000,NaN,NaN,0.19
4,https://graph.facebook.com/v12.0/act_109970164...,FY22,Single image,1.0,3.62,NaN,2022-05-19,247,150.0,1,...,EarlyBird,NaN,NaN,NaN,165,0,0.004049,NaN,NaN,3.62

In [7]:
# Check 'Creative - Size' values
df['Creative - Size'].value_counts()

300x600                                     9075
300x250                                     7806
728x90                                      7377
160x600                                     6190
970x250                                     5977
                                            ...
wholesale lenders for mortgage brokers         3
top mortgage companies to work for 2020        1
best mortgage loan companies to work for       1
no income mortgage                             1
mortgage wholesale broker                      1
Name: Creative - Size, Length: 99, dtype: int64

<br>The 'Creative- size' column contains a lot of illogical data and is not used in the analysis.
<br>'Requested URL Path', 'Spend', 'Days away from max date', 'Latest report' are not used in the analysis.
##### Columns dropped : 
- Requested URL Path
- Creative  - Size
- Spend (duplicated as 'Spend_new' with correct formatting in Excel)
- Days away from max date
- Latest report?

In [8]:
# Drop unnecessary columns : 'Requested URL Path', 'Spend', 'Days away from max date', 'Latest report?'
df.drop(['Requested URL Path', 'Creative - Size', 'Spend', 'Days away from max date', 'Latest report?'], \
        axis = 1, inplace=True)

# View the dataframe
df.head()

,Campaign,Ad Format,Clicks,Date,Impressions,Reach,Audience,Platform,Creative - Family,Creative - Version,100% Video Views,Video Starts,Follows,CTR,CTR Score,Weighted CTR Score,Spend_new
0,FY22,Single image,0.0,2022-05-19,119,63.0,1,Facebook,CloseFaster,NoDTI,NaN,NaN,NaN,0.000000,NaN,NaN,0.26
1,FY22,Single image,0.0,2022-05-19,9,8.0,1,Instagram,CloseFaster,NoDTI,NaN,NaN,NaN,0.000000,NaN,NaN,0.15
2,FY22,Single image,0.0,2022-05-19,26,17.0,1,Facebook,CloseFaster,NoDTI,NaN,NaN,NaN,0.000000,NaN,NaN,0.38
3,FY22,Single image,0.0,2022-05-19,12,10.0,1,Instagram,CloseFaster,NoDTI,NaN,NaN,NaN,0.000000,NaN,NaN,0.19
4,FY22,Single image,1.0,2022-05-19,247,150.0,1,Facebook,CloserTwins,EarlyBird,NaN,NaN,NaN,0.004049,NaN,NaN,3.62

#### Renaming columns following same naming formats across all datasets used in the analysis

In [9]:
# Rename columns

df.rename({'Ad Format' : 'Ad_Format',
           'Creative - Family': 'Creative_Family',
           'Creative - Version': 'Creative_Version',
           '100% Video Views': '100%_Video_Views',
           'Video Starts': 'Video_Starts',
           'CTR Score': 'CTR_Score', 'Weighted CTR Score':'Weighted_CTR_Score',
           'Spend_new' : 'Spend'}, \
          axis=1, inplace=True)

In [10]:
# Determine the number of missing values
df.isnull().sum()

Campaign                 72
Ad_Format                71
Clicks                11877
Date                      0
Impressions               0
Reach                 21244
Audience                 41
Platform                  0
Creative_Family         883
Creative_Version        525
100%_Video_Views      77621
Video_Starts          76608
Follows               93668
CTR                   12829
CTR_Score             27050
Weighted_CTR_Score    27050
Spend                     0
dtype: int64

In [11]:
# Percentage of missing values in each column
percent_missing = df.isnull().sum() * 100 / len(df)
percent_missing.sort_values(ascending=False)

Follows               91.770192
100%_Video_Views      76.048321
Video_Starts          75.055845
Weighted_CTR_Score    26.501940
CTR_Score             26.501940
Reach                 20.813575
CTR                   12.569072
Clicks                11.636360
Creative_Family        0.865110
Creative_Version       0.514363
Campaign               0.070541
Ad_Format              0.069561
Audience               0.040169
Platform               0.000000
Impressions            0.000000
Date                   0.000000
Spend                  0.000000
dtype: float64

  'Spend' column is in object format. This is converted to float type.
The column contains some values in time format. These are ignored and made to NaN values.
They are then dropped

In [12]:
# 'Spend' column in object format
# Change datatype of 'Spend' to float 
df['Spend'] = pd.to_numeric(df['Spend'], errors='coerce')
print(df['Spend'].dtype)
print(df['Spend'].isnull().sum())

float64
402

In [13]:
# Drop the rows with na in 'Spend'
df.dropna(subset=['Spend'], inplace=True)

In [14]:
# Determine number of clicks for 'Platform' == 'OTT'
len(df['Clicks'].loc[df['Platform']=='OTT'])

11877

In [15]:
df['Clicks'].isna().sum()

11877

 - The 'Clicks' column has blank/Nan values where Platform== OTT
 - The corresponding CTR, CTR_Score, Weighted_CTR_Score are also blank
 - The '100%_Video_Views and 'Video_Starts' columns have values only for Ad_format = 'Video'
 - Replace the integer/float columns having blank/NaN with 0

In [16]:
# Use fillna() to replace NaN with 0 for 'Clicks', 'Reach','100%_Video_Views','Video_Starts', 'Follows', 'CTR',
# 'CTR_Score', 'Weighted_CTR_Score'

cols = ['Clicks','Reach','100%_Video_Views','Video_Starts','Follows', 'CTR', 'CTR_Score', 'Weighted_CTR_Score']
df[cols] = df[cols].fillna(0)

In [17]:
# Change datatypes from float to int for 'Clicks','Reach', '100%_Video_Views', 'Video_Starts', 'Follows' as these are integer values
cols = ['Clicks','Reach','100%_Video_Views','Video_Starts','Follows'] 
df[cols] = df[cols].astype(int)
df.dtypes

Campaign                      object
Ad_Format                     object
Clicks                         int32
Date                  datetime64[ns]
Impressions                    int64
Reach                          int32
Audience                      object
Platform                      object
Creative_Family               object
Creative_Version              object
100%_Video_Views               int32
Video_Starts                   int32
Follows                        int32
CTR                          float64
CTR_Score                    float64
Weighted_CTR_Score           float64
Spend                        float64
dtype: object

In [18]:
# Check sum of missing values in the dataframe
df.isna().sum().sort_values(ascending=False)

Creative_Family       883
Creative_Version      525
Campaign               72
Ad_Format              71
Audience               41
Date                    0
Impressions             0
Reach                   0
Platform                0
Clicks                  0
100%_Video_Views        0
Video_Starts            0
Follows                 0
CTR                     0
CTR_Score               0
Weighted_CTR_Score      0
Spend                   0
dtype: int64

*Columns with na values replace with 'No Answer'*
- Campaign
- Ad_Format 
- Audience
- Creative_Family
- Creative_Version

In [19]:
# Replace columns having na values with 'No Answer'
df['Campaign'].fillna('No Answer', inplace=True)
df['Ad_Format'].fillna('No Answer', inplace=True)
df['Audience'].fillna('No Answer', inplace=True)
df['Creative_Family'].fillna('No Answer', inplace=True)
df['Creative_Version'].fillna('No Answer', inplace=True)

In [20]:
# Determine sum of missing values
df.isna().sum()

Campaign              0
Ad_Format             0
Clicks                0
Date                  0
Impressions           0
Reach                 0
Audience              0
Platform              0
Creative_Family       0
Creative_Version      0
100%_Video_Views      0
Video_Starts          0
Follows               0
CTR                   0
CTR_Score             0
Weighted_CTR_Score    0
Spend                 0
dtype: int64

In [21]:
# Determine the types of 'Creative_Family'
df['Creative_Family'].value_counts()

CloserTwins                      38332
UnfairAdvantage                  38183
CloseFaster                      15449
SEM Ads                           8613
No Answer                          883
CompetitiveOpportunity             114
Carousel Ad1                        20
Ad1 Domain                          20
Ad1 audience 1                      12
Carousel Ad1 - CRM Audience 1       10
Ad1                                  8
Carousel Ad2 - CRM Audience 2        8
Carousel Ad1 - CRM Audience3         7
Ad1 Audience 3 CRM                   7
Name: Creative_Family, dtype: int64

In [22]:
# Replace all values not in the allowed list of Creative family to 'Other'
allowed_vals = ['CloserTwins','UnfairAdvantage','CloseFaster','SEM Ads','CompetitiveOpportunity']

df.loc[~df['Creative_Family'].isin(allowed_vals), 'Creative_Family'] = "Other"

# Verify the 'Creative_Family' types
df['Creative_Family'].value_counts()

CloserTwins               38332
UnfairAdvantage           38183
CloseFaster               15449
SEM Ads                    8613
Other                       975
CompetitiveOpportunity      114
Name: Creative_Family, dtype: int64

In [23]:
# campaign_dict ={'CloserTwins':'CloserTwins', 'UnfairAdvantage':'UnfairAdvantage', 
#                 'CloseFaster':'CloseFaster', 'SEM Ads':'SEM Ads', 
#                 'No Answer':'Other', 
#                 'CompetitiveOpportunity':'CompetitiveOpportunity', 
#                 'Other':'Other', 'Ad1 Domain':'Other', 'Carousel Ad1':'Other', 
#                 'Ad1 audience 1':'Other', 'Carousel Ad1 - CRM Audience 1':'Other',
#                 'Ad1 Audience 3 CRM':'Other', 'Ad1':'Other', 
#                 'Carousel Ad1 - CRM Audience3':'Other', 
#                 'Carousel Ad2 - CRM Audience 2':'Other'}
 
# # Add a new column named 'Campaign_Name'
# df['Campaign_Name'] = df['Creative_Family'].map(campaign_dict)
# df.Campaign_Name.value_counts()

In [24]:
# Determine types of Ad_Formats
df['Ad_Format'].value_counts()

Display                  45183
Native                   15283
CPC                       8613
Single image              7878
Video                     7161
TV                        6806
MOBILE                    2776
Audio                     2488
TABLET                    1912
Display - Interactive     1459
Carousel                  1334
DESKTOP                    383
Follower ads               291
No Answer                   71
No lock campaign            28
Name: Ad_Format, dtype: int64

In [25]:
# Ad_Format = No lock campaign is invalid.
# Ad_Format= 'No lock campaign' checked against Campaign to replace with correct ad format. 
df.loc[df['Campaign'].str.contains(pat='No Lock Campaign - Carousel'), 'Ad_Format'] = 'Carousel'
df.loc[df['Campaign'].str.contains(pat='No Lock Campaign - Single DSC'), 'Ad_Format'] = 'Single image'
df.drop(df[df['Ad_Format'] == 'No lock campaign'].index, inplace=True)

In [26]:
# Types of 'Ad_Formats'
df['Ad_Format'].value_counts()

Display                  45183
Native                   15283
CPC                       8613
Single image              7889
Video                     7161
TV                        6806
MOBILE                    2776
Audio                     2488
TABLET                    1912
Display - Interactive     1459
Carousel                  1349
DESKTOP                    383
Follower ads               291
No Answer                   71
Name: Ad_Format, dtype: int64

In [27]:
# Shape of the dataframe after cleaning
print(df.shape)

# Describe the data
df.describe()

(101664, 17)

,Clicks,Impressions,Reach,100%_Video_Views,Video_Starts,Follows,CTR,CTR_Score,Weighted_CTR_Score,Spend
count,101664.000000,101664.000000,101664.000000,101664.000000,101664.000000,101664.000000,101664.000000,101664.000000,101664.000000,101664.000000
mean,0.663234,463.438080,144.579645,24.197858,37.498810,0.004731,0.012344,0.471480,244.685385,7.209050
std,3.327004,1565.548992,535.142843,225.875831,339.238525,0.141750,0.083078,0.410827,906.281370,41.098153
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,10.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.101180
50%,0.000000,54.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.500000,14.500000,0.593024
75%,0.000000,285.000000,59.000000,0.000000,0.000000,0.000000,0.000000,0.500000,137.500000,3.220327
max,573.000000,59784.000000,16601.000000,14173.000000,19635.000000,11.000000,2.000000,1.500000,82870.500000,3642.180000

In [28]:
df['Audience'].value_counts()

General Targetting    21681
4                     20574
1                     16472
3                     15996
5                     14339
2                     12559
No Answer                41
Domain Targeting          2
Name: Audience, dtype: int64

In [29]:
df.loc[df['Audience'] == 'Domain Targeting']

,Campaign,Ad_Format,Clicks,Date,Impressions,Reach,Audience,Platform,Creative_Family,Creative_Version,100%_Video_Views,Video_Starts,Follows,CTR,CTR_Score,Weighted_CTR_Score,Spend
62337,Domain Targeting - No Lock Campaign - Single D...,Single image,42,2022-09-06,8130,0,Domain Targeting,LinkedIn,Other,No Answer,0,0,0,0.005166,1.5,12195.0,1914.60
62451,Domain Targeting - No Lock Campaign - Carousel...,Carousel,4,2022-09-06,665,0,Domain Targeting,LinkedIn,Other,No Answer,0,0,0,0.006015,1.5,997.5,146.83

Audience = 'Domain Targeting' has only 2 rows. These are ignored as we do not know which target group they belong to.

In [30]:
# Create new column Target_Group and assign Audience as per target group
audience_dict ={'1':'1', '2':'1', '3':'1',
               '4':'2', '5':'2',
               'General Targetting':'3'
               }
 
# Add a new column named 'Target_Group'
df['Target_Group'] = df['Audience'].map(audience_dict)

In [31]:
# Count of different target groups across the data
df['Target_Group'].value_counts()

1    45027
2    34913
3    21681
Name: Target_Group, dtype: int64

In [32]:
# Write the cleaned dataset on to a csv file
df.to_csv('creative_data_cleaned.csv', index=False)